### Here is a template of the env file, so you will get all the variables you need in your
### testing enviroment. Simply just copy the contents of this file into your env file and
### fill it out. :) I will also keep updating this with the new env variables we will need as
### we go on with the project.

### Mongodb Connection
MONGODB_URI = 

### GitHub Connection Through OAuth
CLIENT_ID = Ov23lihnVD5HPQK4YtOs
CLIENT_SECRET = 947fa5a21dad47f374dc910d883e1fb5a5ea1b10
CALLBACK_URL = http://localhost:2024/github/callback
SESSION_SECRET = secret